.comment {-fx-fill: gray;}
.keyword {-fx-fill: blue;}
.id {-fx-fill: blueviolet;}
.key {-fx-fill: navy;}
.value {-fx-fill: green;}
.unknown {-rtfx-background-color:red;-fx-fill: black;}
.whitespace {-rtfx-background-color:yellow;-fx-fill:white;}
.name {-fx-fill: black;}
.variable {-fx-fill: purple;}
.integer {-fx-fill: sandybrown;}
.float{-fx-fill: brown;}
.string{-fx-fill: orange;}
.regex{-fx-fill: orangered;}
.other{-fx-fill: darkgreen;}
.operator{-fx-fill: darkgreen;}
.separator{-fx-fill: magenta;}
.command{-fx-fill: darkblue;}
.function{-fx-fill: darkblue;}
.plain{-fx-fill: black;}
.math{-fx-fill: purple;}
.boolean{-fx-fill: coral;}
.null{-fx-fill: darkred;}
.ignored{-fx-fill: greenyellow;}
.url{-fx-fill: blue;-fx-underline: true;}
.range{-fx-fill: darkviolet;}
.directive {-fx-fill: darkgray;}
.char {-fx-fill: sienna;}
.character {-fx-fill: sienna;}
.type {-fx-fill: blue;}
.binary{-fx-fill: black;}
.Identifier{-fx-fill: purple;}
.identifier{-fx-fill: purple;}
.Class{-fx-fill: yellow;}
.highlight{-rtfx-background-color: yellow;}
.selection{-rtfx-background-color: grey;}
.error{-rtfx-background-color: red;}
