/target/
*.tokens
/mode.awk/target/
/mode.ada/target/
/mode.bash/target/
/mode.bibtex/target/
/mode.c/target/
/mode.cobol/target/
/mode.cpp/target/
/mode.csharp/target/
/mode.css/target/
/mode.xml/target/
/mode.yacc/target/
/mode.tcl/target/
/mode.troff/target/
/mode.tex/target/
/mode.texinfo/target/
/mode.swift/target/
/mode.sqlite/target/
/mode.smalltalk/target/
/mode.sql/target/
/mode.snobol/target/
/mode.scheme/target/
/mode.sed/target/
/mode.scala/target/
/mode.ruby/target/
/mode.r/target/
/mode.python/target/
/mode.prolog/target/
/mode.properties/target/
/mode.plain/target/
/mode.php/target/
/mode.perl/target/
/mode.pascal/target/
/mode.octave/target/
/mode.ocaml/target/
/mode.makefile/target/
/mode.m4/target/
/mode.markdown/target/
/mode.lua/target/
/mode.javascript/target/
/mode.java/target/
/mode.lex/target/
/mode.haskell/target/
/mode.go/target/
/mode.fortran/target/
/mode.gettext/target/
/mode.erlang/target/
/mode.diff/target/
/mode.dtd/target/
/mode.dot/target/
/mode.elisp/target/
/mode.objc/target/
/mode.csv/target/
/editor.dvi/target/
/editor.djvu/target/