/dist/
*.tokens
*.jar
/nbproject/private/
/build/
/modules/vcs.svn/nbproject/private/
/modules/vcs.git/nbproject/private/
/modules/vcs.git/build/
/modules/vcs.git/dist/
/modules/vcs.svn/build/
/modules/vcs.svn/dist/
/modules/editor.zip/nbproject/private/
/modules/editor.zip/build/
/modules/editor.zip/dist/
/modules/editor.pdf/nbproject/private/