.comment {
    -fx-fill: gray;
}
.id {
    -fx-fill: blue;
}
.key {
    -fx-fill: blue;
}
.value {
    -fx-fill: green;
}
.keyword {
    -fx-fill: blue;
}
.unknown {
	-fx-fill: red;
}
.whitespace {
	-fx-fill: white;
}
.name {
	-fx-fill: navy;
}
.variable {
	-fx-fill: purple;
}
.integer {
	-fx-fill: sandybrown;
}
.float{
	-fx-fill: brown;
}
.string{
	-fx-fill: darkred;
}
.other{
	-fx-fill: darkgreen;
}
.command{
	-fx-fill: darkblue;
}
.function{
	-fx-fill: darkblue;
}
.plain{
	-fx-fill: black;
}
.math{
	-fx-fill: purple;
}
.boolean{
	-fx-fill: coral;
}
.null{
	-fx-fill: darkred;
}
.ignored{
	-fx-fill: yellow;
}
.url{
	-fx-fill: blue;
	-fx-underline: true;
}
.range{
	-fx-fill: darkviolet;
}
.directive {
	-fx-fill: darkgray;
}
.char {
	-fx-fill: sienna;
}
.type {
	-fx-fill: darkolivegreen;
}
.binary{
	-fx-fill: black;
}