<!DOCTYPE preferences SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<preferences EXTERNAL_XML_VERSION="1.0">
	<root type="user">
		<map/>
		<node name="com">
			<map/>
			<node name="github">
				<map/>
				<node name="chungkwong">
					<map/>
					<node name="jtk">
						<map/>
						<node name="api">
							<map/>
							<node name="module">
								<map>
									<entry key="repository" value="https://raw.githubusercontent.com/chungkwong/jtk/master/MODULES"/>
								</map>
							</node>
						</node>
					</node>
				</node>
			</node>
		</node>
	</root>
</preferences>