/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-1-14, 22:08:10
    Author     : Chan Chung Kwong <1m02math@126.com>
*/
.root{

}
.button {
	-fx-background-color: #b8b656;
}
.mediaview {
	-fx-fit-to-height: true
}